# Enable falcon mode
CONFIG_SPL_OS_BOOT=y
CONFIG_SPL_LOAD_FIT=y

# We use envs for setting bootargs
CONFIG_SPL_ENV_SUPPORT=y

# Perform FDT fixups from SPL
CONFIG_OF_SYSTEM_SETUP=y

# Enabling this causes issues with EMMC FS boot,
# When enabled the SPL tries to detect FS on boot[01] hw partition which fails
# since we need the raw tiboot3.bin there for the board to boot instead
CONFIG_SUPPORT_EMMC_BOOT=n

# Disable unsupported boot media
CONFIG_SPL_SYS_MMCSD_RAW_MODE=n
CONFIG_SPL_YMODEM_SUPPORT=n
CONFIG_SPL_RAM_SUPPORT=n
CONFIG_SPL_MTD_LOAD=n

# Used as the 2MiB aligned load address for kernel
CONFIG_SYS_LOAD_ADDR=0x82000000
CONFIG_SPL_STACK_R_ADDR=0x88000000
CONFIG_SPL_LOAD_FIT_ADDRESS=0x82000000
CONFIG_SPL_PAYLOAD_ARGS_ADDR=0x88000000
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x2700000

# We use the rootfs (i.e partition 2) for booting which is ext4 not FAT
CONFIG_SYS_MMCSD_FS_BOOT=y
CONFIG_SYS_MMCSD_FS_BOOT_PARTITION=2
CONFIG_SPL_FS_EXT4=y
CONFIG_SPL_FS_FAT=n

# Loading tifalcon instead of tispl which has fdt and A53 spl saves time
CONFIG_SPL_FS_LOAD_PAYLOAD_NAME="boot/tifalcon.bin"
CONFIG_SPL_FS_LOAD_KERNEL_NAME="boot/fitImage"

# During SPI boot, kernel and args are loaded from the eMMC or SD and not SPI,
# therefore we don't actually make use of these config values.
CONFIG_SYS_SPI_KERNEL_OFFS=0
CONFIG_SYS_SPI_ARGS_OFFS=0
CONFIG_SYS_SPI_ARGS_SIZE=0

# Disable support for SPI in falcon flow to accommodate the R5 SPL size
CONFIG_SPL_SPI=n
